/* game board table */

.header {
  position: absolute;
  margin-top: 3vh;
  min-width: max-content;
}

.h2 {
  background-color: black;
  display: inline;
  color: white;
  padding: 10px;
  border-radius: 50px;
  font-size: 4em;
  padding-right: 40px;
  border: double 5px yellow;
}

.h1 {
  display: inline;
  position: relative;
  color: red;
  font-size: 7em;
  margin-left: -50px;
  padding-left: -35px;
  top: 20px;
}

table {
  border-collapse: separate;
  margin-top: 6vh;
  min-width: max-content;
  overflow: hidden;
}

#board {
  background-color: yellow;
  padding: 5px 10px 10px 10px;
  border-radius: 15px;
}

#board td {
  width: 65px;
  height: 65px;
  box-sizing: content-box;
  border: solid 5px black;
  background: white;
  border-radius: 50%;
  ;
}

.piece {
  /* TODO: make into circles */
  width: 103%;
  height: 103%;
  align-self: center;
  justify-self: center;
  border-radius: 50%;
  transform: translateY(-70vh);
  transition: all 0.65s ease-in;
  margin: -2px;
  border: solid 1px black;
}

.player1 {
  background-color: blue;
}

.player2 {
  background-color: red;
}

#column-top td {
  border: dashed 1px yellow;
  background-color: black;
  border-radius: 50%;
}

#column-top td:hover {
  background-color: gold;
  z-index: 100;
}

#game {
  position: relative;
  top: 22vh;
  max-height: fit-content;
}

.drop {
  transform: translateY(00px);
}

.currentPlayer {
  /*
  position: absolute;
  top: 100px;
  right: 100px;
  width: 220px;
  height: 200px;
  min-width: 220px;
  min-height: 200px;
  word-wrap: normal;
  font-family: 'Bubblegum Sans', cursive;
  text-align: center;
  */
  margin: 10px;
}

.currentPlayerStatus {
  font-family: 'Bubblegum Sans', cursive;
  display: inline;
  color: #23a6d5;
  font-size: 2.5em;
}

.endGameDiv {
  position: fixed;
  background-color: transparent;
  min-width: 100%;
  min-height: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.endGameButton {
  width: 300px;
  height: auto;
  font-size: 50px;
  color: #23a6d5;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background: linear-gradient(-45deg, #547581, #af416b, #23a6d5, #23d5ab) #23a6d5;
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  min-height: 200px;
  min-width: 1000px
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.winning-chips {
  opacity: 65%;
}

.newGame {
  width: 350px;
  height: 350px;
  background: black;
  position: absolute;
  top: 25vh;
  z-index: 2;
}